data/CPTAC/*
!data/CPTAC/.gitkeep
data/for_overlap/*
!data/for_overlap/.gitkeep
data/general/*
!data/general/.gitkeep
data/HAP1/*
!data/HAP1/.gitkeep
src/__pycache__/
src/visualize.py 
src/run_full_analysis.sh
output/figures/*
!output/figures/.gitkeep
output/output_CPTAC/prot/*
!output/output_CPTAC/prot/.gitkeep
output/output_CPTAC/prot_residual/*
!output/output_CPTAC/prot_residual/.gitkeep
output/output_CPTAC/trans/*
!output/output_CPTAC/trans/.gitkeep
output/output_HAP1/*
!output/output_HAP1/.gitkeep
output/supp_tables/*
!output/supp_tables/.gitkeep