data/CPTAC/*
data/for_overlap/*
data/general/*
data/HAP1/*
src/__pycache__/
src/visualize.py 
src/run_full_analysis.sh
output/figures/*
output/output_CPTAC/prot/*
output/output_CPTAC/prot_residual/*
output/output_CPTAC/trans/*
output/output_HAP1/*
output/supp_tables/*